/* MMM-Fantastical/MMM-Fantastical.css */
.mmm-fantastical {
    padding: 10px;
}

.mmm-fantastical ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mmm-fantastical li {
    margin-bottom: 15px;
}

.event-time {
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
}

.event-title {
    color: #fff;
}

.event-location {
    color: #999;
    font-size: 0.9em;
}

.event-date {
    color: #666;
    font-size: 0.8em;
}